<!-- https://weatherwidget.io/ -->
<a class="weatherwidget-io" href="https://forecast7.com/en/<%- mtninfo['geocoord'] %>/<%- mtninfo['locality'].toLowerCase() %>/?unit=us" data-label_1="<%- mtninfo['name'] %>" data-label_2="<%- mtninfo['locality'] %>, <%- mtninfo['region'] %>" data-font="Montserrat" data-theme="weather_one" ><%- mtninfo['locality'] %> weather</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
