<div>
    <h1 class="title-font"><%- mtninfo['name'] %> | <%- mtninfo['locality']%>, <%- mtninfo['region']%></h1>
    <p id="mtn-url"><a href="<%- mtninfo['url'] %>" class="underline"><%- mtninfo['url'] %></a> - Last checked: <span id="last-checked"><%- lastChecked %></span></p>
    <p id="tos-warning">
        By using this site, you acknowledge the <a href="http://qauinger.com/mountainstats/legal" class="underline">terms of service</a>.
    </p>

    <table id="legend-table">
        <tbody>
            <tr>
                <td class="legend-item">
                    <div id="open-trail-legend" class="box"></div>
                    <p>Open Trail</p>
                </td>
                <td class="legend-item">
                    <div id="closed-trail-legend" class="box"></div>
                    <p>Closed Trail</p>
                </td>
                <td class="legend-item">
                    <div id="open-lift-legend" class="box"></div>
                    <p>Open Lift</p>
                </td>
                <td class="legend-item">
                    <div id="closed-lift-legend" class="box"></div>
                    <p>Closed Lift</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<canvas id="render"></canvas>
<div id="weather-widget">
    <h3 class="title-font">Current weather:</h3>
    <%- include('partials/weather-widget.ejs') %>
</div>

<script>
    var mtn = '<%- mountain %>';
    var mtninfo = <%- JSON.stringify(mtninfo) %>;
    var mtnstatus = <%- JSON.stringify(mtnstatus) %>;
    var map = new Image();
    var render = document.getElementById('render');
    var animateLifts = getCookie('animate-lifts') == 'true' ? true : false;
    var dashLength = 0;
    var dashAnimationIndex = 0;
    var canvasScale = 1;

    window.onload = function() {
        if(getCookie('tos-acknowledge') == 'true') {
            var tos = document.getElementById('tos-warning');
            tos.style.display = 'none';
        }

        if(getCookie('weather-widget') == 'false') {
            var widget = document.getElementById('weather-widget');
            widget.style.display = 'none';
        }

        updateLegend();

        map.src = `http://qauinger.com/mountainstats/public/mountains/${mtn}/map.png`;
        map.onload = function() {
            render.height = map.height;
            render.width = map.width;
            canvasScale = render.width / 2000;
            var ctx = render.getContext('2d');
            ctx.clearRect(0, 0, render.width, render.height);
            ctx.drawImage(map,0,0, render.width, render.height);
        }

        setInterval(function() {
            drawMountainStatus();
        }, 100);
    }

    function drawMountainStatus() {
        var render = document.getElementById('render');
        var ctx = render.getContext('2d');
        ctx.clearRect(0, 0, render.width, render.height);
        ctx.drawImage(map,0,0, render.width, render.height);
        var trails = mtninfo['trails'];
        Object.keys(trails).forEach(trail => {
            if(Object.keys(mtninfo['trails']).includes(trail)) {
                drawPath([...mtninfo['trails'][trail]['path']], 'trail', mtnstatus['trails'][trail] == 1 ? 'open' : mtnstatus['trails'][trail] === 0 ? 'closed' : 'unknown');
            }
        });

        var lifts = mtninfo['lifts'];
        Object.keys(lifts).forEach(lift => {
            if(Object.keys(mtninfo['lifts']).includes(lift)) {
                drawPath([...mtninfo['lifts'][lift]['path']], 'lift', mtnstatus['lifts'][lift] === 1 ? 'open' : mtnstatus['lifts'][lift] === 0 ? 'closed' : 'unknown', dashAnimationIndex);
            }
        });

        if(animateLifts)
            dashAnimationIndex = dashAnimationIndex >= 0 ? dashAnimationIndex -= 1 : dashLength;
    }

    function drawPath(path, type, status, startOffset) {
        var ctx = document.getElementById('render').getContext('2d');
        if(type === 'trail') {
            ctx.strokeStyle = getCookie(`trail-${status}-color`);
            ctx.lineCap = 'round';
            ctx.setLineDash([]);
        } else if(type === 'lift') {
            ctx.strokeStyle = getCookie(`lift-${status}-color`);
            ctx.lineCap = 'round';
            ctx.setLineDash([1, dashLength]);
            if(status === 'open') {
                ctx.lineDashOffset = startOffset;
            } else {
                ctx.lineDashOffset = 0;
            }
        }
        ctx.lineWidth = getCookie('line-width') * canvasScale;
        ctx.lineJoin = 'round';
        dashLength = ctx.lineWidth;
        var paused = false;
        ctx.beginPath();
        ctx.moveTo(path.shift(), path.shift());
        while(path.length > 0) {
            if(path[0] == -1) {
                paused = true;
                path.shift();
            } else {
                if(paused) {
                    ctx.stroke();
                    ctx.moveTo(path.shift(), path.shift());
                    paused = false;
                } else {
                    ctx.lineTo(path.shift(), path.shift());
                }
            }
            ctx.stroke();
        }
    }

    function updateLegend() {
        document.getElementById('open-trail-legend').style = `background-color: ${getCookie('trail-open-color')}`;
        document.getElementById('closed-trail-legend').style = `background-color: ${getCookie('trail-closed-color')}`;
        document.getElementById('open-lift-legend').style = `background-color: ${getCookie('lift-open-color')}`;
        document.getElementById('closed-lift-legend').style = `background-color: ${getCookie('lift-closed-color')}`;
    }

    function getCookie(id) {
        let name = id + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return getDefaultPref(id);
    }

    function getDefaultPref(id) {
        return default_prefs[id];
    }

    const default_prefs = {
        "recents":"true",
        "favorites":"true",
        "animate-lifts":"true",
        "weather-widget": "true",
        "trail-open-color":"#4F7A28",
        "trail-closed-color":"#AAAAAA",
        "lift-open-color":"#89172A",
        "lift-closed-color":"#AAAAAA",
        "line-width":"9",
        "theme": "1"
    }
</script>
